<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prospector</title>
    <meta name="description" content="Prospector">
    <meta name="author" content="Prospector">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="home.component.css">
    <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script defer data-domain="prospector.ie" src="https://plausible.dbyte.xyz/js/script.outbound-links.js"></script>
</head>

<body>
    <app-header></app-header>
    
    <img src="assets/prospector_logo.png" class="center main-logo">

    <app-footer></app-footer>
</body>

</html>