<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prospector</title>
    <meta name="description" content="Prospector">
    <meta name="author" content="Prospector">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app.component.css">
    <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script defer data-domain="prospector.ie" src="https://plausible.dbyte.xyz/js/script.outbound-links.js"></script>

</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight center"><img src="assets/prospector_small.png" class="logo">Prospector</span>
                </h1>
            </div>
        </div>
    </header>

    <img src="assets/prospector_logo.png" class="center main-logo">

    <div class="center">
        <h1>Useful Links</h1>
        <ul>
            <li><a href="https://projects.computing.dcu.ie/project.html?module=ca400">DCU Project Dashboard</a></li>
            <li><a href="https://gitlab.computing.dcu.ie/hacketj5/2024-ca400-proj">Gitlab project</a></li>
            <li><a href="https://www.computing.dcu.ie/~mscriney/ca400.html">CA400 Website</a></li>
            <li><a href="https://prospector.ie/api/docs/index.html">API docs</a></li>
        </ul>
    </div>
</body>

</html>
