<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class ="nav-link px-2 text-muted" href="https://projects.computing.dcu.ie/project.html?module=ca400">DCU Project Dashboard</a></li>
            <li class="nav-item"><a class ="nav-link px-2 text-muted" href="https://gitlab.computing.dcu.ie/hacketj5/2024-ca400-proj">Gitlab project</a></li>
            <li class="nav-item"><a class ="nav-link px-2 text-muted" href="https://www.computing.dcu.ie/~mscriney/ca400.html">CA400 Website</a></li>
            <li class="nav-item"><a class ="nav-link px-2 text-muted" href="https://prospector.ie/api/docs/index.html">API docs</a></li>
        </ul>
      <p class="text-center text-muted">&copy; 2024 Prospector</p>
    </footer>
  </div>