<app-user-header> </app-user-header>

<app-user-sidebar>
  <div class="containerCreate">
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h2>Create your Prospector Project</h2>

        <div class="">
        <p class="headerText">Project Name</p>
        <mat-form-field class="wide" hintLabel="Enter a name for your project, this will be used to identify it on the dashboard">
          <mat-label>webserver</mat-label>
          <input matInput [(ngModel)]="projectName" name="projectName" maxlength="30" required />
        </mat-form-field>
      </div>
      <br />

      <div class="toggleVMorContainer">
        <p class="headerText">Project type</p>
        <section>
          <mat-button-toggle-group [(ngModel)]="instanceType" name="instanceType" aria-label="Font Style" required
            (change)="resetForm(); addComponent();">
            <mat-button-toggle value="docker">Container</mat-button-toggle>
            <mat-button-toggle value="vm">Virtual Machine</mat-button-toggle>
          </mat-button-toggle-group>
        </section>
        <p class="explainText">Would you like to create a container or a virtual machine?</p>
      </div>

      <div *ngIf="instanceType === 'docker'">
        <br />
        <h2>Container Input</h2>
        
        <mat-accordion class="example-headers-align">
          <div *ngFor="let component of components; let i = index">
            <mat-expansion-panel [expanded]="i" >
              <mat-expansion-panel-header>
                
                <mat-panel-title>Component {{ components[i].Name }}</mat-panel-title>
                <button mat-icon-button (click)="removeComponent(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-expansion-panel-header>

              <div class="inputContainerName">
                <p class="headerText">Component Name</p>
                <mat-form-field class="wide" hintLabel="Input a component name">
                  <mat-label>server</mat-label>
                  <input matInput [(ngModel)]="components[i].Name" name="cName" [ngModelOptions]="{ standalone: true }"
                    maxlength="30" ngDefaultControl required />
                  <!-- <mat-hint align="end">{{ components[i].Name.length }}/30</mat-hint> -->
                </mat-form-field>
                <!-- <p class="explainText">This needs to be unique so that you can identify the component</p> -->
              </div>

              <div class="inputDockerImage">
                <p class="headerText">Docker Image</p>
                <mat-form-field class="wide" hintLabel="This is your docker image">
                  <mat-label>nginx:latest</mat-label>
                  <input matInput [(ngModel)]="components[i].Image" [ngModelOptions]="{ standalone: true }" name="image"
                    ngDefaultControl required />
                </mat-form-field>
              </div>

              <div class="slideCpu">
                <p class="headerText">CPU Allocation</p>
                <mat-slider style="width: 99%;" min="20" max="1000" step="10" showTickMarks discrete
                  [(ngModel)]="components[i].Resources.cpuValue" [ngModelOptions]="{ standalone: true }" name="cpuValue"
                  ngDefaultControl required [displayWith]="formatCPULabel">
                  <input matSliderThumb />
                </mat-slider>
                <p>
                  Selected value: {{ components[i].Resources.cpuValue }} hz
                </p>
                <p class="explainText">Processing power of resources from your quota</p>
              </div>

              <div class="sliderRam">
                <p class="headerText">Memory Allocation</p>
                <mat-slider style="width: 99%;" min="20" max="1000" step="10" showTickMarks discrete
                  [(ngModel)]="components[i].Resources.ramValue" [ngModelOptions]="{ standalone: true }" name="ramValue"
                  ngDefaultControl required [displayWith]="formatRAMLabel">
                  <input matSliderThumb />
                </mat-slider>
                <p>
                  Selected value: {{ components[i].Resources.ramValue }} mb
                </p>
                <p class="explainText">Memory allocation of resources from your quota</p>
              </div>

              <div class="inputPort">
                <p class="headerText">Port</p>
                <!-- input of port -->
                <mat-form-field class="wide" hintLabel="Range from 0-65535">
                  <mat-label>Enter Port</mat-label>
                  <input matInput [(ngModel)]="components[i].Network.Port" [ngModelOptions]="{ standalone: true }"
                    name="portValue" ngDefaultControl maxlength="5" required />
                </mat-form-field>
                <p class="explainText">Port to expose to the host</p>
              </div>

              <div class="">
                <p class="headerText">Expose</p>
                <mat-slide-toggle [(ngModel)]="components[i].Network.Expose" [ngModelOptions]="{ standalone: true }"
                  name="public" required (change)="onToggleChange($event, i)"
                  [disabled]="components[i].Network.Port == 0">Expose</mat-slide-toggle>
                <p class="explainText">Enabling this exposes your component to the internet</p>
              </div>
            </mat-expansion-panel>
          </div>
          <button mat-raised-button type="button" (click)="addComponent();">
            Add Component
          </button>
        </mat-accordion>

      </div>

      <div *ngIf="instanceType === 'vm'">
        <br />
        <h2>Virtual Machine Input</h2>
        <!-- button to add component -->
        <div class="containerVM" *ngIf="componentAdded">

          <div class="inputContainerName">
            <p class="headerText">Component Name</p>
            <mat-form-field class="wide" hintLabel="This needs to be unique so that you can identify the component">
              <mat-label>Component Name</mat-label>
              <input matInput [(ngModel)]="components[0].Name" name="cName" [ngModelOptions]="{ standalone: true }"
                maxlength="30" ngDefaultControl required />
            </mat-form-field>
          </div>
          <br />
          <div class="">
            <p class="headerText">Virtual Machine Image</p>
            <mat-form-field class="wide">
              <mat-label>VM Image</mat-label>
              <mat-select [(ngModel)]="components[0].Image" name="food">
                @for (image of images; track image) {
                <mat-option [value]="image.value">{{
                  image.viewValue
                  }}</mat-option>
                }
              </mat-select>
              <mat-hint>Select the image you would like to use for your VM</mat-hint>
            </mat-form-field>
            <p class="explainText"></p>
          </div>

          <div class="slideCpu">
            <p class="headerText">Cpu Allocation</p>
            <mat-slider style="width: 99%;" min="0" max="1000" step="50" showTickMarks discrete
              [(ngModel)]="components[0].Resources.cpuValue" [ngModelOptions]="{ standalone: true }" name="cpuValue"
              ngDefaultControl required [displayWith]="formatCPULabel">
              <input matSliderThumb />
            </mat-slider>
            <p>
              Selected CPU value: {{ components[0].Resources.cpuValue }} hz
            </p>
            <p class="explainText">Processing power of resources from your quota</p>
          </div>

          <div class="sliderRam">
            <p class="headerText">Ram Allocation</p>
            <mat-slider style="width: 99%;" min="0" max="10000" step="1000" showTickMarks discrete
              [(ngModel)]="components[0].Resources.ramValue" [ngModelOptions]="{ standalone: true }" name="ramValue"
              ngDefaultControl required [displayWith]="formatRAMLabel">
              <input matSliderThumb />
            </mat-slider>
            <p>
              Selected RAM value: {{ components[0].Resources.ramValue }} mb
            </p>
            <p class="explainText">Memory allocation of resources from your quota</p>
          </div>

          <!-- TODO add in config for ssh key etc -->
          <div class="ssh">
          </div>

        </div>
        
        <button mat-raised-button type="button" (click)="addComponent();" *ngIf="!componentAdded">
          Add Component
        </button>
      </div>
      
      <div class="" style="margin-top: 10px;">
        <button mat-button color="primary" type="submit" [disabled]="!isFormValid() || formSubmitted">
          Submit
        </button>
      </div>
      <br />
      <div *ngIf="formSubmitted" class="progress-bar-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </form>
  </div>
</app-user-sidebar>