.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-logo {
    width: auto;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand';
    font-size: 18px;
    min-height: 100vh;
}

h1 {
    font-family: 'Gagalin', sans-serif;
    padding-bottom: 10px;
    /* font colour: 152039 */
    color: #152039;
}

ul {
    list-style: none;
    list-style-type: '- ';
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

li {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #152039;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #152039;
    text-align: center;
    overflow: hidden;
}

.highlight {
    color: #f5a623;
}

.logo {
    width: 55px;
    height: 55px;
    margin: 0 0 0px 0;
    vertical-align: middle;
}