<mat-drawer-container class="containersidebar" over>
    <mat-drawer #drawer class="example-sidenav" mode="over" [opened]="isOpen">
      
      <button mat-icon-button class="example-icon" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="buttonLinks">
        
        <div class="dashboard spacing">
          <button mat-button routerLink="/user-dashboard" (click)="toggleSidebar()"><mat-icon>dashboard</mat-icon>Dashboard View</button>
        </div>

        <div class="createProject spacing">
          <button mat-button routerLink="/user-createJob" (click)="toggleSidebar()"><mat-icon>edit</mat-icon>Create Project</button>
        </div>

        <div class="deployProjects spacing">
          <button mat-button routerLink="/user-deployRecipe" (click)="toggleSidebar()"><mat-icon>publish</mat-icon>Deploy Recipe</button>
        </div>

        <div class="logout">
          <hr>
            <button mat-button (click)="logOut()"><mat-icon>exit_to_app</mat-icon>Logout</button>
          </div>

      </div>

    </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>

